html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: serif;
  text-align: center;
}

#root {
  height: 100vh;
  /* text-align: center; */
}

.container {
  width: 50%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background: orange;
}

.searchbar button {
  margin: 40px;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

.searchbar input {
  padding: 1rem;
  border-radius: 10px;
  width: 70%;
  margin-top: 1rem;
}

.temp {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

input {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

button {
  transition: transform 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input {
  transition: transform 0.3s ease;
}

input:focus {
  transform: scale(1.2);
}
